.legend_pic_container {
  display: none;
}

.bwd,
.fwd {
  display: none;
}

.carousel {
  margin-top: -40px;
}

#landing_wrap {
  background-color: #fff;
}

#landing {
  width: 100vw;
  margin: 0 auto;
  padding: 0 0px;
  min-height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
}

.col {
  padding: 0 20px;
  flex-grow: 1;
  flex-basis: 400px;
  height: 50%;
  display: flex;
}

.col:nth-child(1) {
  align-self: center;
}

.col:nth-child(2) {
  align-self: center;
  background-color: #272c33;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='5' viewBox='0 0 4 4'%3E%3Cpath fill='%23353b44' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.col:nth-child(2) div {
  align-self: center;
}

#title {
  display: block;
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 200;
  color: #fff;
  margin: 0;
}

#title span {
  background-color: #cead89;
  color: #fff;
  padding: 0 5px;
  white-space: nowrap;
  transform: translateY(10px);
  line-height: 3.5rem;
}

#tagline {
  margin: 10px 0 20px 0;
  color: #fff;
}

.col button {
  background-color: #454d59;
}

.col .mere {
  background-color: #cead89;
}

#illustration {
  width: 100%;
  max-height: 100%;
  padding: 20px 0 0px 0;
  align-self: flex-end;
}

.scroll_pos {
  width: 100vw;
  height: calc(100vh - 20px);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 4;
  visibility: hidden;
}

.scroll_wrap {
  width: 50px;
  height: 80px;
  visibility: hidden;
}

.scroll1 {
  visibility: visible;
  position: absolute;
  width: 2px;
  height: 20px;
  background-color: #bec6cc;
}

.scroll2 {
  visibility: visible;
  position: absolute;
  width: 2px;
  height: 10px;
  background-color: #bec6cc;
}

.scroll3 {
  visibility: visible;
  position: absolute;
  width: 2px;
  height: 10px;
  background-color: #bec6cc;
}

@media screen and (min-width: 800px) {
  #landing {
    padding: 0 0px;
  }

  #title {
    font-size: 4rem;
    line-height: 5.5rem;
  }

  #tagline {
    margin: 15px 0 50px 0;
  }

  .col {
    height: 100vh;
    padding: 0 50px;
  }

  #illustration {
    padding: 150px 0 50px 0;
  }

  .scroll_pos {
    display: flex;
    width: 50vw;
  }

  .scroll1 {
    background-color: #fff;
  }

  .scroll2 {
    background-color: #fff;
  }

  .scroll3 {
    background-color: #fff;
  }
}

#main {
  padding: 0 50px 0 50px;
}

#fill_forside img {
  margin: 0;
}

.wp-block-column:nth-child(2) {
  margin: 0 0 0 10px;
}

.wp-block-columns .text_col {
  padding: 30px 50px 0 50px;
  margin: 0;
}

.wp-block-columns {
  margin: -6px 0 40px 0;
}

.wp-block-column figure {
  margin: 6px 0;
}

@media screen and (min-width: 1200px) {
  .text_wrap {
    margin: 200px 0 250px 0;
  }

  .text_wrap .wp-block-column:nth-child(2) h2 {
    margin: 20px 0;
    padding: 20px;
    background-color: #cead89;
    color: #fff;
    width: 50%;
  }

  .text_wrap .wp-block-column:nth-child(2) p {
    padding: 20px;
    color: #fff;
    width: 50%;
    background-color: #272c33;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='5' viewBox='0 0 4 4'%3E%3Cpath fill='%23353b44' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  }

  .text_wrap .wp-block-column:nth-child(2) {
    margin: 0;
    padding: 0;
    align-self: flex-end;
  }

  .text_wrap .wp-block-column:nth-child(1) figure {
    margin: 0;
  }

  .text_wrap .wp-block-column:nth-child(1) {
    transform: translateX(15vw);
  }

  .text_wrap .wp-block-column:nth-child(2) {
    transform: translate(8vw, 5vh);
  }

  .gallery_block .wp-block-column:nth-child(1) figure:nth-child(1) {
    width: 50%;
    margin: 5px 0 0 0;
  }

  .gallery_block .wp-block-column:nth-child(1) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .gallery_block .wp-block-column:nth-child(2) figure:nth-child(2) {
    width: 50%;
    margin: 0 0 5px 0;
  }

  .gallery_block .wp-block-column:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .gallery_block {
    margin: 0 0 150px 0;
  }
}

@media screen and (max-width: 600px) {
  #title {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 200;
    color: #fff;
    margin: 20px 0 0 0;
  }

  #title span {
    background-color: #cead89;
    color: #fff;
    padding: 0 5px;
    white-space: nowrap;
    transform: translateY(10px);
    line-height: 3.5rem;
  }

  #tagline {
    margin: 10px 0 20px 0;
    color: #fff;
  }

  .col {
    min-height: 350px;
    padding: 0 20px;
  }

  #main {
    padding: 0 20px;
  }

  .wp-block-columns .text_col {
    padding: 10px 0 0 0;
    margin: 0 20px;
  }
}

/*#header_wrap {
  transform: translateY(calc(-100vh));
}*/








.form_input {
  font-family: mr-eaves-xl-modern, sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  width: 100%;
  border: 0px solid #cead87;
  background-color: #eaeaea;
  margin: 8px 16px 8px 0;
  padding: 12px 15px;
  transition: .6s cubic-bezier(0.25, 1, 0.5, 1);
  font-weight: 700;
  flex-grow: 1;
}

.form_input::placeholder {
  font-weight: 300;
}

.form_input:focus::placeholder {
  color: #fff;
}

.form_input:focus {
  background-color: #cead87;
  color: #fff;
}

#modebook_wrap {
  display: flex;
  flex-wrap: wrap;
}

.inline_input {
  flex-basis: 35%;
}

.inline_input:nth-child(1) {
  flex-basis: 30%;
}

.inline_input:nth-child(2) {
  flex-basis: 60%;
}

.inline_input:nth-child(3) {
  flex-basis: 60%;
}

.inline_input:nth-child(4) {
  flex-basis: 30%;
}

.inline_input:nth-child(6) {
  flex-basis: 30%;
}

.inline_input:nth-child(7) {
  flex-basis: 60%;
}

#main textarea {
  margin-bottom: 16px;
}

iframe {
  margin-bottom: 100px;
}

.blue {
    background-color: #272c33;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='5' viewBox='0 0 4 4'%3E%3Cpath fill='%23353b44' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}







.scroll1_ani {
  animation: scroll1_ani-kf 1s infinite alternate both;
}

@keyframes scroll1_ani-kf {
  100% {
    transform: translateX(24px) translateY(35px);
    height: 20px;
    animation-timing-function: cubic-bezier(0.5, 0, 0.75, 0);
  }

  50% {
    transform: translateX(24px) translateY(40px);
    height: 30px;
    animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
  }

  0% {
    transform: translateX(24px) translateY(55px);
    height: 20px;
    animation-timing-function: cubic-bezier(0.5, 0, 0.75, 0);
  }
}

.scroll2_ani {
  animation: scroll2_ani-kf 1s cubic-bezier(.3, 0, .2, 1) infinite alternate both;
}

@keyframes scroll2_ani-kf {
  100% {
    transform: translateX(27px) translateY(47px) rotate(45deg);
    height: 10px;
    animation-timing-function: cubic-bezier(0.5, 0, 0.75, 0);
  }

  50% {
    transform: translateX(27px) translateY(62px) rotate(45deg);
    height: 10px;
    animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
  }

  0% {
    transform: translateX(27px) translateY(67px) rotate(45deg);
    height: 10px;
    animation-timing-function: cubic-bezier(0.5, 0, 0.75, 0);
  }
}

.scroll3_ani {
  animation: scroll3_ani-kf 1s cubic-bezier(.3, 0, .2, 1) infinite alternate both;
}

@keyframes scroll3_ani-kf {
  100% {
    transform: translateX(21px) translateY(47px) rotate(-45deg);
    height: 10px;
    animation-timing-function: cubic-bezier(0.5, 0, 0.75, 0);
  }

  50% {
    transform: translateX(21px) translateY(62px) rotate(-45deg);
    height: 10px;
    animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
  }

  0% {
    transform: translateX(21px) translateY(67px) rotate(-45deg);
    height: 10px;
    animation-timing-function: cubic-bezier(0.5, 0, 0.75, 0);
  }
}
