*,
body {
  font-family: expo-serif-pro, serif;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #2B3333;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

body {
  background-color: #eeefea;
}

body::-webkit-scrollbar {
  display: none;
}

main {
  max-width: 1200px;
  width: 100vw;
  padding: 100px 20px 0 20px;
  margin: 0 auto;
  background-color: #fff;
}

a {
  text-decoration: none;
}

.space1 {
  height: 20px;
}

.space2 {
  height: 50px;
}

.space3 {
  height: 90px;
}

.space4 {
  height: 150px;
}

h1 {
  font-family: motiva-sans, sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 4rem;
  margin: 20px 0 10px 0;
}

h2 {
  font-family: motiva-sans, sans-serif;
  font-weight: 800;
  font-style: italic;
  font-size: 2.5rem;
  margin: 20px 0 10px 0;
}

h3 {
  font-family: motiva-sans, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2rem;
  margin: 20px 0 5px 0;
}

h4 {
  font-family: motiva-sans, sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 1.5rem;
  margin: 20px 0 5px 0;
}

p,
a,
li,
button {
  font-size: 1.2rem;
  padding: 0 0 10px 0;
  color: #454C4C;
}

a {
  cursor: pointer;
}

strong {
  font-weight: 700;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  p,
  a,
  li,
  button {
    font-size: 1rem;
  }
}

header {
  position: fixed;
  max-width: 1200px;
  width: 100vw;
  padding: 0 20px;
  top: calc(-100vh + 60px);
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 100vh;
  transition: .6s cubic-bezier(.5, .3, .25, 1);
  background: rgb(59, 142, 155);
  background: linear-gradient(110deg, rgba(59, 142, 155, 1) 0%, rgba(0, 112, 124, 1) 100%);
  border-radius: 0 0 30px 30px;
  z-index: 100;
}

img,
figure,
iframe,
video {
  width: 100%;
  border-radius: 10px;
  margin: 0 0 30px 0;
}

li {
  margin-left: 20px;
}

nav {
  width: 100%;
  height: 100%;
}

#logo_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  z-index: 5;
  visibility: hidden;
  padding: 0 20px;
  left: 0;
}

#logo {
  visibility: visible;
  height: 53px;
  width: 53px;
  margin: 0 0 5px -10px;
  padding: 10px;
  cursor: pointer;
  transition: .4s cubic-bezier(.25, 1, .5, 1);
  position: relative;
  z-index: 100;
}

#logo:hover {
  transform: scale(1.1);
}

#logo:active {
  transform: scale(.9);
}

#burger {
  visibility: visible;
  height: 40px;
  width: 45px;
  margin: 0 -10px 10px 0;
  padding: 10px;
  transition: .6s cubic-bezier(.5, .3, .25, 1);
  cursor: pointer;
  position: relative;
  z-index: 100;
}

#burger:hover {
  transform: scale(1.1);
  transition: .4s cubic-bezier(.25, 1, .5, 1);
}

#burger:active {
  transform: scale(.9);
  transition: .4s cubic-bezier(.25, 1, .5, 1);
}

#login {
  transition: .6s cubic-bezier(.5, .3, .25, 1);
}

nav div:nth-child(2) {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  left: 0;
  padding: 0 20px;
  z-index: 2;
  transition: .6s cubic-bezier(.5, .3, .25, 1);
}

nav article {
  transition: .5s cubic-bezier(.25, 1, .5, 1);
}

nav h3 {
  text-align: end;
  margin: 20px 0;
  color: #fff;
  line-height: 2rem;
  font-size: 2rem;
  cursor: pointer;
  transition: .5s cubic-bezier(.25, 1, .5, 1);
}

nav h3:hover {
  transform: scale(1.05);
  color: #E48B65;
  filter: brightness(1.2);
}

nav h3:active {
  transform: scale(.95);
  color: #E48B65;
  filter: brightness(.7);
}

nav div:nth-child(3) {
  width: 100%;
  padding: 20px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  visibility: hidden;
}

nav div:nth-child(3) p {
  line-height: 2rem;
  color: #fff;
  visibility: visible;
  font-family: motiva-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.underkategori {
  width: 100%;
  height: 80%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  padding: 0 20px;
  z-index: 2;
  display: flex;
  justify-items: flex-end;
  visibility: hidden;
  overflow: hidden;
}

.underkategori div {
  transform: translateX(1200px);
  transition: .7s cubic-bezier(.5, .3, .25, 1);
  position: relative;
  visibility: visible;
  background-color: #3B8E9B;
  padding: 20px;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  border-radius: 30px 0 0 30px;
}

.underkategori p {
  font-family: motiva-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5rem;
  font-size: 1rem;
  color: #fff;
  padding: 6px 0 0 0;
  transition: .6s cubic-bezier(.25, 1, .5, 1);
  text-align: end;
}

.underkategori p:hover {
  transform: scale(1.05);
  color: #EF9F6A;
  filter: brightness(1.2);
}

.underkategori p:active {
  transform: scale(.95);
  color: #EF9F6A;
  filter: brightness(.7);
  transition: .2s cubic-bezier(.25, 1, .5, 1);
}

@media screen and (max-width: 1200px) {
  .underkategori div {
    transform: translateX(100vw);
    width: 100vw;
    z-index: 5;
    background: rgb(59, 142, 155);
    background: linear-gradient(135deg, rgba(59, 142, 155, 1) 0%, rgba(0, 112, 124, 1) 100%);
    margin: 0 -60px 0 0;
  }

  .back:after {
    content: "⬅";
    font-size: 2rem;
  }
}

.col_wrap {
  width: 100%;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  column-gap: 20px;
}

.col {
  flex-grow: 1;
  flex-basis: 400px;
}

.col_wrap p {
  padding-right: 20px;
}

#anim {
  width: 50vw;
  max-width: 300px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1000;
  transition: .45s cubic-bezier(.5, .3, .25, 1);
}

#pre {
  border-radius: 100vw;
  width: 100vh;
  height: 100vh;
  transform: scale(2.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: rgb(59, 142, 155);
  background: linear-gradient(135deg, rgba(59, 142, 155, 1) 0%, rgba(0, 112, 124, 1) 100%);
  z-index: 999;
  transition: .5s cubic-bezier(.5, .3, .25, 1);
}

footer {
  background: rgb(59, 142, 155);
  background: linear-gradient(135deg, rgba(59, 142, 155, 1) 0%, rgba(0, 112, 124, 1) 100%);
  margin: 50px -20px 0 -20px;
  padding: 20px;
  border-radius: 30px 30px 0 0;
}

footer p {
  color: #fff;
}

footer h3 {
  color: #fff;
}

footer img {
  width: 30px;
  margin: 5px 10px 0 0;
  border-radius: 0;
}

input,
button {
  padding: 12px 20px 10px 20px;
  margin: 0px 10px 10px 0;
  border-radius: 10px;
  border: none;
  box-shadow: none;
  text-align: left;
}

input {
  padding: 10px 20px 10px 20px;
  font-size: 1rem;
}

#input_wrap {
  margin: 50px 0;
}

button:focus,
input:focus {
  outline: none;
}

button {
  background: rgb(239, 159, 106);
  background: linear-gradient(160deg, rgba(239, 159, 106, 1) 0%, rgba(216, 119, 96, 1) 100%);
  color: #fff;
  cursor: pointer;
  font-family: motiva-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  transition: .5s cubic-bezier(.25, 1, .5, 1);
}

button:hover {
  transform: scale(1.05);
  filter: brightness(1.2);
}

button:active {
  transform: scale(.95);
  filter: brightness(.8);
  transition: .2s cubic-bezier(.25, 1, .5, 1);
}

.this_site,
.this_site:hover {
  background: rgb(255, 255, 255);
  background: linear-gradient(135deg, rgba(255, 255, 255, 1) 0%, rgba(238, 239, 234, 1) 100%);
  color: #2B3333;
  border: 1px solid #2B3333;
  transform: scale(1);
}

header nav .on_this {
  color: #EF9F6A;
  font-weight: 800;
}

.wp-block-media-text {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.wp-block-media-text__media {
  flex-grow: 1;
  flex-basis: 400px;
  margin: 0 10px 0 0;
}

.wp-block-media-text__content {
  flex-grow: 1;
  flex-basis: 400px;
  margin: 0 10px 0 0;
}

.wp-block-columns {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.wp-block-column {
  flex-grow: 1;
  flex-basis: 400px;
  margin: 0 10px 0 0;
}

vp-center {
  background-color: red;
  justify-content: flex-start;
}

#review_overflow {
  width: 100%;
  overflow: hidden;
  z-index: 1;
  margin-top: 20px;
}

#review_move {
  display: grid;
  transition: .5s cubic-bezier(.5, .3, .25, 1);
}

.review_wrap {
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  grid-column: 1;
  grid-row: 1;
  align-self: end;
}

.review_wrap:hover {
  transform: translateX(-200px);
}

.review_img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 100px;
  margin: 0;
  flex-basis: 100px;
}

.review_wrap p {
  width: 100%;
  max-width: 500px;
  color: #fff;
  background: rgb(59, 142, 155);
  background: linear-gradient(135deg, rgba(59, 142, 155, 1) 0%, rgba(0, 112, 124, 1) 100%);
  margin: 0 0 0 10px;
  padding: 20px;
  border-radius: 20px;
  flex-basis: 10px;
  flex-grow: 1;
}

.review_wrap h4 {
  flex-basis: 1000px;
}

.arrow {
  background: rgb(239, 159, 106);
  background: linear-gradient(160deg, rgba(239, 159, 106, 1) 0%, rgba(216, 119, 96, 1) 100%);
  width: 40px;
  height: 40px;
  margin: 20px 0 10px 2px;
  padding: 10px;
  border-radius: 40px;
  object-fit: contain;
  cursor: pointer;
  transition: .5s cubic-bezier(.25, 1, .5, 1);
  grid-column: 1;
  grid-row: 2;
}

.arrow_b {
  transform: rotate(180deg);
  background: rgb(239, 159, 106);
  background: linear-gradient(340deg, rgba(239, 159, 106, 1) 0%, rgba(216, 119, 96, 1) 100%);
}

.arrow_f {
  margin-left: 10px;
}

.arrow_f:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}

.arrow_f:active {
  transform: scale(.9);
  filter: brightness(.8);
  transition: .2s cubic-bezier(.25, 1, .5, 1);
}

.arrow_b:hover {
  transform: scale(1.1) rotate(180deg);
  filter: brightness(1.2);
}

.arrow_b:active {
  transform: scale(.9) rotate(180deg);
  filter: brightness(.8);
  transition: .2s cubic-bezier(.25, 1, .5, 1);
}

.grayscale_f,
.grayscale_b {
  filter: grayscale(1);
  cursor: auto;
}

.grayscale_f:hover,
.grayscale_f:active {
  filter: grayscale(1);
  transform: scale(1);
  cursor: auto;
}

.grayscale_b:hover,
.grayscale_b:active {
  filter: grayscale(1);
  transform: scale(1) rotate(180deg);
  cursor: auto;
}

@media screen and (min-width: 800px) {
  #fill > p {
    width: 50%;
  }

  main {
    padding: 100px 50px 0 50px;
  }

  footer {
    margin: 50px -50px 0 -50px;
    padding: 50px;
  }

  .underkategori p {
    padding: 20px 0 0 0;
  }

  .review_img {
    width: 100px;
    height: 100px;
  }
}
